doctype html
html(ng-app="portal", lang="en")
  head
    title Pathwar Portal

    base(href="#{BASE_PATH}")

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    //- bower:css
    //- endinject

    //- inject:css
    //- endinject

  body(ng-class="{frontpage: state == 'home'}").bg-lighter-gray

    div(ng-cloak).splash.center.mt4
      img(src="#{BASE_PATH}assets/img/logo.png", width="180").rounded
      h1.mt0 Loading

    div(ng-cloak)
      div.side-menu.bg-black.white.md-show
        div.px2.mt2
          img(src="#{BASE_PATH}assets/img/logo.png", width="32", height="32").rounded
        a.button.button-transparent.block
          span PATHWAR

        nav.mt3
          a.button.button-transparent.block(ui-sref="home.welcome")
            i.fa.fa-tachometer.inline-block.mr1
            span.darken-1 Home
          a.button.button-transparent.block(ui-sref="statistics.main")
            i.fa.fa-bar-chart.inline-block.mr1
            span.darken-1 Statistics
          a.button.button-transparent.block(ui-sref="levels.list")
            i.fa.fa-list
            |&nbsp; Levels
          a.button.button-transparent.block(href="https://github.com/pathwar/pathwar.net#faq", target="_blank")
            i.fa.fa-question-circle
            |&nbsp; FAQ

      nav(ng-controller="NavCtrl as nav").bg-lighter-gray.clearfix.fixed.top-0.right-0.left-0.has-side-menu.z1.p2

        // Anonymous
        div.flex-right(ng-if="!nav.isAuthentificated()")
          a(ui-sref="login").button.button-transparent.py2 Login
          a(ui-sref="register").button.button-transparent.py2 Register

        // Logged in
        div(ng-if="nav.isAuthentificated()").flex.flex-center.full-width

          //
          // Organization
          //
          div(data-disclosure, style="vertical-align: top").flex-auto
            div(data-details).fixed.top-0.right-0.bottom-0.left-0
            div.relative
              a.button.button-narrow.py1.ucfirst.opener
                //img(ng-src="{{nav.currentUser.organization.getAvatarUrl(32)}}", width="32", height="32").rounded.avatar-button-left.ml0
                | {{nav.currentUser.organization.name}}
                i.fa.fa-sort-down.icon-button
                // FIXME: add the current session name {{currentUser.organization.session}}
              div(data-details).absolute.left-0.mt1.nowrap.bg-white.shadow-bottom.rounded.z1.box-shadow.gray

                a(ui-sref="organizations.view({id: nav.currentUser.organization._id})").button.block.button-transparent.px3.py2.regular
                  | Organization Profile
                a(ui-sref="organizations.admin.members").button.block.button-transparent.px3.py2.regular
                  | Organization Admin
                hr.m0
                a(ng-repeat="organization in nav.organizations", ng-click="nav.switchOrganization(organization)").button.block.button-transparent.px3.regular
                  //img(ng-src="{{organization.getAvatarUrl(32)}}", width="32", height="32").rounded.avatar-button-left.ml0
                  i.fa.fa-random.icon-button.black
                  &nbsp;
                  | Switch to <span class="black ucfirst">{{organization.name}}</span>
                hr.m0
                a(ui-sref="createOrganization").button.block.button-transparent.px3.py2.rounded-bottom.regular
                  i.fa.fa-plus.icon-button.black
                  &nbsp;
                  | Create new organization

          //
          // Notifications
          //
          div.flex-right
            div(ng-show="nav.notificationsOpened").fixed.top-0.right-0.bottom-0.left-0
            div.relative
              a(ng-click="nav.toggleNotifications()").button.button-transparent.p1.relative
                i.fa.fa-bell-o
                div(notifications-count).rounded.bg-red.h6.px1.inline-block {{vm.getUnreadNotificationsCount()}}
              div(ng-if="nav.notificationsOpened", style="min-width: 400px").absolute.right-0.mt1.nowrap.bg-white.shadow-bottom.rounded.z1.box-shadow
                div.absolute.top-0.right-0
                  a(ng-click="nav.toggleNotifications()").inline-block.py1.px2.h2.ui-link &times;
                div(notifications)

          //
          // Money
          //
          div(data-disclosure).flex-right
            div(data-details).fixed.top-0.right-0.bottom-0.left-0
            div.relative
              a.button.button-transparent.p1.relative.opener
                i.fa.fa-usd
                div.rounded.bg-yellow.h6.px1.inline-block {{nav.currentUser.organization.statistics.cash}}
              div(data-details).absolute.right-0.mt1.nowrap.bg-white.shadow-bottom.rounded.z1.box-shadow
                div.absolute.top-0.right-0
                  a.inline-block.right.py1.px2.h2.ui-link &times;
                div(pw-coupon-redeem)

          //
          // Score
          //
          div.flex-right
            a.button.button-transparent.p1
              i.fa.fa-star
              div.rounded.bg-yellow.h6.px1.inline-block {{nav.currentUser.organization.statistics.score}}

          //
          // User Menu
          //
          div(data-disclosure, style="vertical-align: top").flex-right
            div(data-details).fixed.top-0.right-0.bottom-0.left-0
            div.relative
              a.regular.opener.ui-link.clearfix
                img(ng-src="{{nav.currentUser.getAvatarUrl(32)}}", width="32", height="32").rounded.left
              div(data-details).absolute.right-0.mt1.nowrap.bg-white.shadow-bottom.rounded.z1.mr1.box-shadow
                a(ui-sref="users.account").button.block.button-transparent.px3.py2.regular
                  | Account
                a(ui-sref="users.invitations({id: nav.currentUser._id})").button.block.button-transparent.px3.py2.regular
                  | View Invitations
                hr.m0
                a(ng-click="nav.logout()").button.block.button-transparent.px3.py2.regular
                  i.fa.fa-sign-out.icon-button.black
                  &nbsp;
                  | Log out

      div.p2.has-side-menu.content
        div(ui-view)

      div(logger).fixed.top-0.right-0.full-width.sm-col.sm-col-4.z2
    //- bower:js
    //- endinject

    //- inject:js
    //- endinject

    // RECAPTCHA
    script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit", async, defer)

    if env == "production"

      //GOOGLE ANALYTICS
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47629346-3', 'auto');

      //KISSMETRICS
      script.
        var _kmq = _kmq || [];
        var _kmk = _kmk || 'ffa3a3fd8f57d7b13878fb231e145b527d479a45';
        function _kms(u){
          setTimeout(function(){
            var d = document, f = d.getElementsByTagName('script')[0],
            s = d.createElement('script');
            s.type = 'text/javascript'; s.async = true; s.src = u;
            f.parentNode.insertBefore(s, f);
          }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');
        _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

    script.
      // FIXME: use url from config.js
      Raven.config('http://3512fe4500134020b00d614a48dd6fa6@sentry.dev.pathwar.net//3', {
        logger: 'javascript',
        ignoreErrors: [
         'livereload.js'
        ],
        ignoreUrls: [
          // Chrome extensions
          /extensions\//i,
          /^chrome:\/\//i
        ]
      }).install();
